extends layout

block content
  h1= title
  p Welcome to #{title}



  h2 Creating a new Movie
  form(action="/movies/create", method="post", enctype="multipart/form-data")
    p Movie Title:
    input(type="text", name="movie_title")
    p Studio:
    input(type="text", name="studio")
    p Year:
    input(type="text", name="year")
    p Box Office $:
    input(type="text", name="box_office")
    p Picture:
    input(type="file", name="picture")
    input(type="submit")


  extends table