extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Creating a new Movie
  form(action="/movies/create", method="post")
    p Movie Title:
    input(type="text", name="movie_title")
    p Studio:
    input(type="text", name="studio")
    p Year:
    input(type="text", name="year")
    p Box Office $:
    input(type="text", name="box_office")
    p Picture:
    input(type="text", name="picture")
    input(type="submit")

  h2 Scrape those records!!!
  form(action="/movies/scrape", method="post")
    input(type="submit" value="LETS GO")

  h2 Movies

  ul
  each movie in movies
    li
      = movie.movie_title
      | &nbsp;
      | (
      a(href="/movies/" + movie.id + "/destroy") Destroy
      | )
