extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Creating a new Movie
  form(action="/movies/create", method="post")
    Movie Title: input(type="text", name="movie_title")
    input(type="text", name="studio")
    input(type="text", name="year")
    input(type="text", name="box_office")
    input(type="text", name="picture")
    input(type="submit")


  h2 Movies

  ul
  each movie in movies
    li
      = movie.movie_title
      | &nbsp;
      | (
      a(href="/movies/" + movie.id + "/destroy") Destroy
      | )
