doctype html
html
  head
    title Panogi Movie Lister
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    link(rel="stylesheet" type="text/css" href="/stylesheets/datatables.min.css")


  body
    block content
