doctype html
html
  head
    title Panogi Movie Lister
    
    link(rel="stylesheet" type="text/css" href="/stylesheets/datatables.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')



  body
    block content
