extends layout


block content
  h1 $$$Gross... Movies


  button(id="new-entry" type="button" data-toggle="modal" data-target="#createModal") Add Movie

  div(class="modal fade" id="createModal" tabindex="-1" role="dialog")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
          h4(class="modal-title") Add a new Movie

        div(class="modal-body")
          
          form(action="/movies/create", method="post", enctype="multipart/form-data")
            p Movie Title:
            input(type="text", name="movie_title")
            p Studio:
            input(type="text", name="studio")
            p Year:
            input(type="text", name="year")
            p Box Office $:
            input(type="text", name="box_office")
            p Picture:
            input(type="file", name="picture")
            input(type="submit")


        div(class="modal-footer")
          button(type="button" class="btn btn-default" data-dismiss="modal") Close
          button(type="button" class="btn btn-primary") Create

  table(id="movie-table" class="display")
    thead
      tr
        th movie_title
        th studio
        th year
        th box_office
        th picture
        th Editor
    tfoot
      tr
        th movie_title
        th studio
        th year
        th box_office
        th picture
        th Editor


  
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
  script(src='https://cdn.datatables.net/v/bs-3.3.6/jq-2.2.3/dt-1.10.12/datatables.min.js')


  script.
    
    function getConfirmation(destination){
      var retVal = confirm("Do you want to continue ?");
      if( retVal == true ){
        
        $.ajax({
            url: destination,
            type: 'POST',
            success: function(result) {
            }
        });
        return true;
      }
      else{
        return false;
      }
    }

    $(document).ready(function() {


      $('#movie-table').DataTable( {
          "ajax": '/movies/api/json',
          "columns": [
            { "data": "movie_title" },
            { "data": "studio" },
            { "data": "year" },
            { "data": "box_office" },
            { "data": "picture" },
            { "data": null }],

          "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]],
          "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
            var imgLink = aData['picture']; // if your JSON is 3D
            // var imgLink = aData[4]; // where 4 is the zero-origin column for 2D

            var imgTag = ''
            if(imgLink==null){
              imgTag = 'missing image'
            } else {

              imgTag = '<img src="/' + imgLink + '"/>';
            }

            $('td:eq(4)', nRow).html(imgTag); // where 4 is the zero-origin visible column in the HTML

            var editLink = aData['id'];

            var button_url = 'onclick ="' + "location.href='/movies/" + editLink + "';" + '"';
            var destroy_url = "'/movies/" + editLink + "/destroy" + "'";

            var buttonTag = 
              '<button ' + button_url + 'type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit </button><button id="delete-button" onclick="getConfirmation(' + destroy_url + ')" type="button" class="btn btn-default confirm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>';
            

            $('td:eq(5)', nRow).html(buttonTag);


            return nRow;
          }


      } );
    } );