body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img{
	width: 50%;
    height: auto;
}


h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vh;
}
p {
  font-size: 2vmin;
}


#movie-table {
  margin: auto;
  width: 75%;
}

#movie-table-head{
	text-align: center;
}

th{
	text-align: center
}

#movie-table-foot{
	text-align: center;
}

/*
.sorting_asc{
  font-size: 2vmin;

}
.sorting_desc{
  font-size: 2vmin;

}

.btn{
  font-size: 2vmin;
}*/

.centered_table{
	margin: auto;
    width: 75%;
    /*border: 3px solid green;*/
    padding: 10px;
}

#centered_div{
	margin: auto;
    width: 50%;
    /*border: 3px solid green;*/
    padding: 10px;
}


.centered_button{
	text-align:center;
	margin: 20px;
}

#header{
	width:100%;
	/*margin: 10px;*/
	/*font-family: 'Roboto', sans-serif;*/
	text-align: center;
	/* Rectangle: */
    /*background-color: rgba(46, 71, 115, .04);*/
	padding-top: 50px;
	margin:0px;
	max-width: 100%;
}

#status-bar{
	width:100%;
	/*margin: 10px;*/
	/*font-family: 'Roboto', sans-serif;*/
	text-align: center;
	/* Rectangle: */
    background-color: rgba(200, 71, 115, .04);
	max-width: 100%;
	visibility: hidden;
}



#footer{
	width:100%;
	/*margin: 10px;*/
	/*font-family: 'Roboto', sans-serif;*/
	text-align: center;
	/* Rectangle: */
    background-color: rgba(46, 71, 115, .04);
	max-width: 100%;
}