body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img{
	width: 50%;
    height: auto;
}

.centered_table{
	margin: auto;
    width: 75%;
    /*border: 3px solid green;*/
    padding: 10px;
}


.centered_button{
	text-align:center;
	margin: 20px;
}